a {
  text-decoration: none;
  color: #A9A9A9;
}

a:hover {
  color: #000;
  font-weight: bold;
}

.navbar-left {
  word-spacing: 25px;
  padding-left: 108px;
}

.available {
  border: 1px solid grey;
  text-align: center;
  border-width: 70px;
}