@media only screen and (max-width: 480px) {
  .navbar-left {
    max-width: 100%;
  }

  .navbar-right {
    max-width: 100%;
  }

  p {
    font-size: 25px;
    font-weight: bold;
  }

  #welcome {
    font-size: 15px;
  }

  .section-nav {
    font-size: 10px;
  }
}